{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SGTCC - UFAC</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <div class="sidebar">
        <h2>UFAC<br>SGTCC</h2>
        <a href="{% url 'dashboard' %}">VISUALIZAR BANCAS</a>
        <a href="{% url 'solicitar_banca' %}">SOLICITAR BANCA</a>
        <a href="#">DOCUMENTOS</a>
        
        <div class="footer-menu">
            <a href="#">SAIR 🚪</a>
        </div>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>