{% extends 'base.html' %}

{% block content %}
    <h1>Painel de Controle</h1>
    <p>Resumo do Sistema de Gerenciamento de Bancas de TCC.</p>

    <div class="dashboard-cards">
        <div class="card">
            <h3>Bancas Agendadas</h3>
            <p>12</p> </div>
        
        <div class="card">
            <h3>Solicitações Pendentes</h3>
            <p>5</p>
        </div>

        <div class="card">
            <h3>Salas Disponíveis</h3>
            <p>3</p>
        </div>
    </div>
{% endblock %}