{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/login.css' %}"
    >

    <title>Login | SGTCC</title>
</head>

<body>

    <div class="container">

        <aside class="sidebar">

            <img
                src="{% static 'assets/logo_ufac.png' %}"
                alt="Universidade Federal do Acre"
            >

            <p>SGTCC</p>

        </aside>

        <main class="form-login">

            <h1>Login</h1>

            {% if messages %}

                <div class="mensagens-flutuantes">

                    {% for message in messages %}

                        <div class="alerta alerta-{{ message.tags }}">
                            {{ message }}
                        </div>

                    {% endfor %}

                </div>

            {% endif %}

            <form method="POST">
                {% csrf_token %}

                <input
                    type="text"
                    id="login"
                    name="email"
                    placeholder="E-mail institucional ou usuário"
                    value="{{ request.POST.email|default:'' }}"
                    autocomplete="username"
                    required
                >

                <input
                    type="password"
                    id="senha"
                    name="senha"
                    placeholder="Senha"
                    autocomplete="current-password"
                    required
                >

                <label class="opcao-manter-conectado">
                    <input
                        type="checkbox"
                        name="manter_conectado"
                        {% if request.POST.manter_conectado %}
                            checked
                        {% endif %}
                    >

                    <span>Manter conectado</span>
                </label>

                <button type="submit">
                    Entrar
                </button>
            </form>

            <p style="font-size: 14px; text-align: center;">

                Ainda não possui cadastro?

                <a href="{% url 'cadastrar_docente' %}">
                    Solicitar cadastro
                </a>

            </p>

        </main>

    </div>

</body>

</html>